body {
  display: flex;
  place-content: center;
  margin: 0;
  width: 100%;
}

.flex-col {
  display: flex;
  flex-direction: column;
}

.flex-row {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.basic-page header {
  color: #aa076b;
  padding: 1rem 1rem;
  text-align: right;
}

.selected-label {
  margin-bottom: 10px;
}

.page-container {
  padding: 28px;
  margin: 20px;
  box-shadow: 0 15px 20px #ABB2B9;
  margin-top: 50px;
  background-color: #eeebee;
  border-radius: .8rem;
}

.configuration-page {
  width: 800px;
  height: 300px;
}

.number-input-container {
  margin-bottom: 20px;
}

.number-input-label {
  margin-bottom: 5px;
}

.buttons-container {
  width: 100%;
  justify-content: space-around;
}

label {
  color: #2f4f4f;
}

.select-input {

  margin-bottom: 40px;
}

.main-quiz-page {
  min-width: 800px;
  text-align: left;
  height: 480px;
}

.qroup-question-buttons {
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;
}

.qroup-question-buttons button {
  text-decoration: none;
  list-style: none;
  color: #2d264b;
  background: #ffffff;
  border: 1px solid #eaeaea;
  border-radius: 16px;
  padding: 11px;
  margin-top: 15px;
  cursor: pointer;
  text-align: left;
}

.qroup-question-buttons button:hover {
  background-color: #aa076b;
  color: white;
}

.progress-bar-container {
  display: flex;
  flex-direction: column;
}

.progress-bar-container progress {
  margin-right: 30px;
  margin-bottom: 20px;
  width: 100%;
}

.timer-container {
  margin-bottom: 20px;
}

.main-quiz-page-footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.styled-button {
  margin-top: 5px;

  padding: 5px 15px 5px 15px;
  display: block;
  font-size: 20px;
  color: #fff;
  border: none;
  border-radius: 10px;
  background-color: #aa076b;
}

.styled-button:hover {
  background-color: #61045f;
  cursor: pointer;
}

.result-quiz-page {
  height: 380px;
  text-align: left;
  width: 800px;
}

.result-quiz-page span {
  color: #800080;
}

.result-quiz-page h4 {
  text-align: center;
}

.result-quiz-page h4 {
  font-size: 18px;
  font-weight: 600;
  text-align: center;
  color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
  background-image: linear-gradient(to right, #aa076b, #61045f);
  padding-bottom: 8px;
  margin-right: 6px;
  margin-bottom: 10px;
}

.info-container {
  border: 3px solid #aa076b;
  border-radius: 10px;
  padding: 15px;
  width: 280px;
  display: flex;
  flex-direction: column;
  justify-content: start;
}

.modalBackground {
  width: 100vw;
  height: 100vh;
  background-color: rgba(200, 200, 200);
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modalContainer {
  width: 500px;
  height: 500px;
  border-radius: 12px;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  display: flex;
  flex-direction: column;
  padding: 25px;
}

.modalContainer .title {
  display: inline-block;
  text-align: center;
  margin-top: 10px;
}

.titleCloseBtn {
  display: flex;
  justify-content: flex-end;
}

.titleCloseBtn button {
  background-color: transparent;
  border: none;
  font-size: 23px;
  cursor: pointer;
}

.modalContainer .body {
  flex: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 22px;
  text-align: center;
}

.modalContainer .footer {
  flex: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modalContainer .footer button {
  width: 150px;
  height: 45px;
  margin: 10px;
  border: none;
  background-color: #aa076b;
  color: white;
  border-radius: 8px;
  font-size: 20px;
  cursor: pointer;
}

.modalContainer .footer button:hover {
  background-color: #61045f;
}

#cancelBtn {
  background-color: #6c6a6c;
}

#cancelBtn:hover {
  background-color: #2a292a;
}

.timer-container-danger {
  color: #dc4c1d;
}

.statistics-page {
  justify-content: center;
  width: 1000px;
}

.statistics-page h4 {
  color: #aa076b;
}

.statistics-group p {
  text-align: left;
}

.statistics-page span {
  color: #aa076b;
}

.statistics-page button {
  margin-top: 30px;
  width: 300px
}

.statistics-button-to-start {
  display: flex;
  justify-content: center;
}

.loader {
  margin-top: 20px;
  margin-bottom: 20px;
}

.spinner-size {
  width: '3rem';
  height: '3rem'
}